parameters:
    ignoreErrors:
        - message: '#Parameter \#3 \$body of class GuzzleHttp\\Psr7\\Response constructor expects#'
          path: tests/
        - message: '#Parameter .+ of class Lmc\\Matej\\Matej constructor expects string#'
          path: tests/integration/IntegrationTestCase.php
        - '#Unsafe usage of new static\(\)#'
        - message: '#expects class-string#'
          path: tests/
        - message: '#Unsafe access to private constant .+ through static::#'
          path: tests/

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: 7
    paths:
      - src/
      - tests/
